/* Place CSS styles here */


img {
  width: 100%;
  height: auto;
 }

.container {
  position: relative;
  text-align: center;
  font-family: 'Marcellus', serif;
  color: #43695A;
  /* font-size:150px; */

}

.centered {
  font-size: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* media query for mobile */
@media (max-width: 767px) {
  body {
    background-color: #f0ead6;
  }
}

/* media query for desktop */
@media (min-width: 768px) {
  body {
    background-color: #f0ead6;
  }
}
.featured-items {
  flex: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 100px;
}
.kitcorner {
  /* align-items: center; */
  
  align-content:center ;
}
input,
textarea {
  border: 1px solid #c4c3c3;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 100%;
}
form {
  max-width: 500px;
  display: block;
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #43695A;
  font-family: 'Marcellus', serif;
}

body {
  /* padding: 15% 15%; */
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 100%;
}

/* Style the links inside the navigation bar */

.navigation {
  overflow: hidden;
  background-color: #72583D;
  position: relative;
}

.navigation #myLinks {
  display: block;
}

.navigation a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navigation a.icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #60714E;
  color: white;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navigation (.icon) */
@media (max-width: 480px) {
  .navigation {
    justify-content: space-between;
  }

  .navigation a:not(:first-child) {
    display: none;
  }

  .navigation a.icon {
    float: right;
    display: block;
  }

  .navigation #myLinks {
    display: none;
  }

}

/* The "responsive" class is added to the navigation with JavaScript when the user clicks on the icon. This class makes the navigation look good on small screens (display the links vertically instead of horizontally) */
@media (max-width: 480px) {
  .navigation.responsive {
    position: relative;
  }

  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.about {
  width: 50%;
  padding: 1% 25%;
}
.map {
  padding: 1% 25%;
  width: 50%
  
}